@import "../node_modules/purecss/build/base-min.css";
@import "../node_modules/purecss/build/grids-min.css";
@import "../node_modules/purecss/build/forms-min.css";
@import "../node_modules/purecss/build/buttons-min.css";

:root {
  --just-about-black: #2b2a2a;
  --near-black: #2e3440;
  --greyish: #434c5e;
  --whale-blue: #5e81ac;
  --whiteish: #e5e9f0;
  --banana: #ebcb8b;
  --green: #a3be8c;
  --red: #bf616a;
}

body {
  background: var(--near-black);
  color: var(--whiteish);
  font-family: "Andale Mono", "Open Sans", Roboto, -apple-system, BlinkMacSystemFont, sans-serif;
}

/* PureCSS Grid style compatibility */
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: "Andale Mono", "Helvetica", sans-serif;
}

button {
  box-shadow: 4px 4px 10px var(--near-black);
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px var(--whiteish);
}

.header {
  background: var(--greyish);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  user-select: none;
  align-items: center;
  padding: 1% 0;
  font-weight: bolder;
}

.logo {
  border-radius: 10px;
  width: 300px;
  text-align: center;
  user-select: none;
}

.status-bar {
  user-select: none;
  box-shadow: 4px 4px 10px var(--just-about-black);
  font-size: 1.6em;
  background-color: var(--green);
  padding: 1% 1%;
  text-align: center;
  align-items: center;
}

.lobby {
  margin: 5%, 5%;
}

.game-message {
  background-color: var(--banana);
  color: var(--just-about-black);
  border-radius: 2px;
  font-size: 1.2em;
  text-align: center;
  margin: 0 10%;
  padding: 2%;
}

.lobby-player {
  text-overflow: ellipsis;
  font-size: 1.6em;
  margin: 0 15%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 20%;
  padding-left: 20%;
  margin-bottom: 2%;
  text-align: center;
  border-radius: 2px;
  background-color: var(--whiteish);
  color: var(--near-black);
}

.unready-player {
  opacity: 0.3;
}

.game-title-header {
  color: var(--red);
  font-size: 3em;
}

.register-header {
  margin: 3% auto;
  text-align: center;
  color: var(--blue);
  font-size: 2.0em;
  font-weight: bold;
}

.game-won-header {
  color: var(--green);
}

.game-over-header {
  color: var(--red);
}

.register-container {
  width: 300px;
  background: var(--greyish);
  margin: 3% auto;
  padding: 1% 5% 2%;
  border-radius: 10px;
  user-select: none;
  box-shadow: 4px 4px 10px var(--just-about-black);
}

.input-container {
  border-radius: 10px;
  background-color: var(--whale-blue);
  padding: 5% 5%;
  margin: 15% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.players-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.lobby-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 0;
  font-size: 1.4em;
}

.lobby-button {
  margin-bottom: 1%;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.4em;
}

.button-main-restart-container {
  display: flex;
}

.button-main-restart {
  margin: 0 auto;
  color: var(--whiteish);
  width: 30%;
  background: none;
  box-shadow: none;
  font-size: 1.2em;
}

.button-main-restart:hover {
  background: none;
  text-decoration: line-through;
  color: var(--red);
}

.button-main-restart:active {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

.guesses-container {
  margin: 5% 0;
  padding: 0 5%;
  text-align: center;
}

.guess-field {
  border: 1px dotted var(--whiteish);
  border-radius: 10px;
  margin: 0 0 5%;
  font-size: 4.2em;
  text-align: center;
  letter-spacing: 2px;
}

.guess-list {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 0 0;
  text-align: center;
  font-size: 1.2em;
  font-weight: lighter;
  color: var(--banana);
  margin: 5% 0;
}

.guess-list-label {
  font-weight: normal;
  font-size: 1.4em;
  color: var(--banana);
  text-decoration: underline;
  margin: 3% auto;
}

.guess-item {
  margin: 0 0 2%;
  flex: 1;
}

@media only screen and (max-width: 800px) {
  .game-container {
    width: 300px;
  }
}
